<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.example.sudoku"
      android:versionCode="1"
      android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">
      
      <supports-screens android:largeScreens="true" />
      <supports-screens android:smallScreens="true" />
      
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="MainScreen"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="ViewPictures"></activity>
				 
		<activity android:name=".image"
		                android:label="@string/app_name"
		                android:theme="@android:style/Theme.NoTitleBar.Fullscreen">>
		          
		</activity>
		   
		
		
		<activity android:name=".Options"
				      android:label="@string/app_name"
				      android:theme="@android:style/Theme.NoTitleBar.Fullscreen">>
				
		</activity>
		
		<activity android:name="delete"></activity>
		<activity android:name=".pixDel"
				      android:label="@string/app_name"
				      android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:description="@layout/deletepix">>
				
		</activity>
		
		<activity android:name="startReadSD"></activity>
		<activity android:name=".pixterReadSD"
				      android:label="@string/app_name"
				      android:theme="@android:style/Theme.NoTitleBar.Fullscreen">>
				
		</activity>

<receiver android:name="StartupBroadcastRecevie">
            <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED" />
                 <category android:name="android.intent.category.HOME" />
            </intent-filter>
    </receiver> 


   </application>

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>  
    
</manifest> 
